{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
<div class="d-grid gap-2 col-6 mx-auto">
    <form method="post" class="card card-body">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
        <button class="btn btn-success">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
